<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Georges Tchianga | Front End Developer</title>
  {{style('css/main')}}
  {{style('css/project')}}
  <link rel="shortcut icon" type="image/x-icon" href="images/icon.ico" />
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
  {{style('css/font-awesome-extension.min')}}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  {{script('js/jquery-3.3.1.min')}}
  {{script('js/jquery-ui.min')}}
  {{script('js/landing_info.js')}}
  {{script('js/typeit.min')}}
</head>
<body>
  <div class="landing_parent">
    <div class="landing_background">
       <div class="first_half">
         <div class="programmer_logo">
           <img src="images/developer.png" alt="programmer logo">
         </div>
         <div class="programmer_text">
             <p>Be strong!
We are not here to play, to dream, to drift,
We have hard work to do, and loads to lift.
Shun not the struggle; face it. 'Tis God's gift.
Be strong!
Say not the days are evil, — Who's to blame?
And fold not the hands and acquiesce, — O shame!
Stand up, speak out, and bravely, in God's name. <em>-Maltbie</em> </p>
         </div>
         <div class="programmer_logo_two">
           <div class="hammer">
               <i class="fas fa-hammer"></i>
           </div>
         </div>
       </div>
       <div class="second_half">
          <div class="html main_tech"><a href="#" class="fab fa-html5 tech"></a></div>
          <div class="css main_tech"><a href="#" class="fab fa-css3-alt tech"></a></div>
          <div class="sass main_tech"><a href="#" class="fab fa-sass tech"></a></div>
          <div class="javascript main_tech"><a href="#" class="fab fa-js-square tech"></a></div>
          <div class="jquery main_tech"><img src="images/jquery_icon.png" alt="jquery"></div>
          <div class="react main_tech"><a href="#" class="fab fa-angular tech"></a></div>
          <div class="node main_tech"><a href="#" class="fab fa-node tech"></a></div>
          <div class=" main_tech"><a href="#"><img src="/images/mongodb.jpg"></img></a></div>
          <div class="git main_tech"><a href="#" class="fab fa-git tech"></a></div>
         </div>
          <div class="landing_info">
            <div class="timer_parent">
              <div class="timer_wrapper">
                <p class="timer">M</p>
              </div>
                  <div class="pc_logo">
                    <i class="fas fa-laptop-code"></i>
                  </div>
            </div>
            <div class="info">
            <div class="info_wrapper">
            <div class="personal">
              <div class="personal_photo">
                <div class="p_photo">
                  <img src="images/meTwo.jpg" alt="picture">
                </div>
              <div class="line">
              </div>
              </div>
              <div class="personal_title">
                   <p class="title">Front End <br> Developer</p>
              </div>
            </div>
            <div class="arrows">
              <div class="left">
                  <i class="fas fa-arrow-circle-left arrow"></i>
              </div><div class="right">
                  <i class="fas fa-arrow-circle-right arrow"></i>
              </div>
            </div>
            <div class="landing_extra_info">
              <div class="location_">
                 <div class="location">
                   <img src="images/empire-state.png" id="empire" alt="empire state building">
                   <p><b>NYC</b> <span>based</span></p>
                 </div>
              </div>
              <div class="landing_extra_info_plus">
                   <div class="reader">
                      <i class="fas fa-book-reader"><span>Big Things Have Small Beginnings: Learn to Play the Great Game -<em>Wes Berry</em></span></i>
                   </div>
                   <div class="git_codep">
                        <ul>
                          <li><a href="https://codepen.io/tgeorgesdev/" target="_blank" class="fab fa-codepen twi"></a></li>
                          <li><a href="https://github.com/georgestcm" class="fab fa-github" target="_blank"></a></li>
                        </ul>
                   </div>
               </div>
            </div>
            <div class="landing_responsive">
              <h2 class="title"></h2>
               <div class="landing_responsive_Wrapper">
                   <div class="responsive_photo">
                        <img src="images/meTwo.jpg" alt="my photo">
                   </div>
                   <div class="responsive_text">
                         <p>I am a front end developer that currently lives in new york city.
                            I build pixel perfect websites and web apps while paying extreme attention to details.
                             I am passionate about web development and I stay up to date by connecting with other
                              developers, studying and by building projects.</p>
                   </div>
               </div>
            </div>
       </div>
</div>
     </div>
    </div>
    <div class="nav_parent">
      <img src="images/logo.png" alt="site logo" id="site-logo">
         <ul class="nav_intro_page">
           <li><a href="" class="nav-about"><b>About</b></a></li>
           <li><a href="" class="nav-projects"><b>Projects</b></a></li>
           <li><a href="" class="contact" data-toggle="modal"><b>Contact</b></a> </li>
         </ul>
    </div>
    <div class="social_media">
      <a href="https://www.linkedin.com/in/georgestc/" title="Linkedin" class="fab fa-linkedin" target="_blank"></a>
      <a href="extras/GeorgesTchiangaResume.pdf" class="fas fab fa-file" title="Résumé" download target="_blank"></a>
  </div>
  </div>
  <div class="main_page">
    <div class="nav">
      <nav>
        <div class="site_logo">
          <img src="images/logo.png" alt="site logo">
        </div>
        <div class="programmer">
          <i class="fas fa-laptop-code"></i>
        </div>
        <div class="links">
          <ul>
            <li class="second_nav"><a href="#" class="nav-about-two">About</a></li>
            <li class="second_nav"><a href="#" class="nav-projects-two ">Project</a></li>
            <li class="second_nav"><a href="#" class="contact">Contact</a></li>
            <li><a href="" class="fa fa-times"></a></li>
          </ul>
        </div>
      </nav>
      <div class="scrollPercentage"></div>
    </div>
    <div class="about">
      <div class="landing_page">
         <div class="me">
           <div class="me_extra_info">
             <h2>ABOUT ME</h2>
             <img src="images/me.jpeg" alt="personal image">
           </div>
           <div class="about_me_links">
             <p><span><img src="images/empire-state.png" id="empire"alt="empire state building"></span> <span id="nyc">NYC based</span> <span>Front End Developer</span></p>
             <ul>
               <li> <a href="https://github.com/georgestcm" class="fab fa-github" target="_blank"></a></li>
               <li><a href="extras/GeorgesTchiangaResume.pdf" download  target="_blank" class="fas fa-file"></a></li>
             </ul>
           </div>
         </div>
         <div class="me_info">
           <h2> Georges Tchianga</h2>
           <p>I am a front end developer that currently lives in new york city. I build
            pixel perfect websites and web apps while paying extreme attention to details. I am passionate about web development and I stay up to date by connecting with
            other developers, studying and by <span>building projects <a href="https://github.com/georgestcm" target="_blank" class="fab fa-github"></a></span>.
            On my free time, I often read financial and self help books and play classical music on the piano.
          </p>
         </div>
        <div class="down_arrow">
          <img src="images/down_arrow.png" alt="down arrow">
        </div>
      </div>
      <div class="skills">
        <div class="tech_skill">
          <div class="skill_logo">
            <img src="images/skill.png" alt="skills">
          </div>

          <div class="tech_list">
            <div class="techs">
          <ul class="list_one">
            <li><a href="#" class="fab fa-html5 tech"></a></li>
            <li><a href="#" class="fab fa-css3-alt tech"></a></li>
            <li><a href="#" class="fab fa-sass tech"></a></li>
            <li><a href="#" class="fab fa-js-square tech"></a></li>

            <li><img src="images/jquery_icon.png" alt="jquery"></li>
          </ul><ul class="list_two">
            <li><a href="#" class="fab fa-angular tech"></a></li>
            <li><a href="#" class="fab fa-node tech"></a></li>
            <li><a href="#"><img src="/images/mongodb.jpg"></img></a></li>
             <li><a href="#" class="fab fa-git tech"></a></li>
          </ul>
          </div><div class="tech_skill_text">
           <p>
             I build web sites and web apps that are <span>responsive</span> and <span>performant</span> on all devices whether it's a desktop, labtop or mobile device.
              I utilize git as version control and <span>atom</span> as my main development text editor. I have experience with many dev tools and css frameworks.
               I've worked with many developers and non developers alike whether they are located in the same city or in another country around the world. I love programming  and
               I love to share it with others while growing and becoming a better developer myself. Overall, I am passionate about web development and what
               it has to offer for the futuree.
             </p>
         </div>
          </div>
        </div>
        <div class="tech_skill_info"></div>
      </div>

    </div>
    <div class="modal">
      <div class="modal_background">
         <div class="modal_content">
           <div class="close"><p>+</p></div>
           <div class="modal_logo">
             <img src="images/logo.png" alt="site logo">
           </div>
           <form id="my_form" action="/user" method="POST">
             {{csrfField()}}
             <input type="text" name="name" placeholder="Name"  id="n" required>
             <input type="email"  name="email" placeholder="Email"  id="e" required>
             <textarea name="message" rows="8" cols="80" placeholder="Enter Message here"  id="m" required></textarea>
              <input type="submit" class="submit" value="Submit">
           </form>
         </div>
      </div>
    </div>
    <div class="mobile_about">
      <div class="mobile_text">
        <img src="images/me.png" alt="personal photo">
        <p>I am a front end developer that currently lives in new york city.
          I build pixel perfect websites and web apps while paying extreme attention to details.
          I am passionate about web development and I stay up to date by connecting with other developers,
          studying and by building projects.</p>
      </div>
    </div>
    <div class="project" id="projects">
      <h1>My recent works</h1>
        <p>Here are a few of my recent projects</p>
        <div class="works">
          <ul class="project_ul">
            <li>
              <div class="pro_info">
                <div class="pro_info_temp">
                 <p class="pro_temp">
                   A full stack application that allows users
                   to find quick to do jobs in their local area.
                 </p>
                 <div class="pro_temp_links">
                 <a href="#" class="temp_links" target="_blank">Live</a>
                 <a href="\project" class="temp_links more_info proOne">More Info</a>
               </div>
                 </div>
              </div>
            </li>
            <li>
              <div class="pro_info">
                <div class="pro_info_temp">
                 <p class="pro_temp">
                  A platform that supports education in rural areas in cameroun.
                 </p>
                 <div class="pro_temp_links">
                 <a href="#" class="temp_links" target="_blank">Live</a>
                 <a href="\project" class="temp_links more_info proTwo">More Info</a>
               </div>
                 </div>
              </div>
            </li>
            <li>
              <div class="pro_info">
                <div class="pro_info_temp">
                 <p class="pro_temp">
                   A responsive and beautifully designed portfolio for
                   a local model.
                 </p>
                 <div class="pro_temp_links">
                 <a href="#" class="temp_links" target="_blank">Live</a>
                 <a href="\project" class="temp_links more_info proThree">More Info</a>
               </div>
                 </div>
              </div>
            </li>
          </ul>
          <ul class="project_ul">
            <li>
              <div class="pro_info">
                <div class="pro_info_temp">
                 <p class="pro_temp">
                   A site for a local established church in the new york area.
                 </p>
                 <div class="pro_temp_links">
                 <a href="#" class="temp_links" target="_blank">Live</a>
                 <a href="\project" class="temp_links more_info proFour">More Info</a>
               </div>
                 </div>
              </div>
            </li>

          </ul>
        </div>
        <div class="see_more">
          <a href="https://github.com/georgestcm" target="_blank">
            <span class="fab fa-github"></span>
            <span>See more on <b>github</b></span>
          </a>
        </div>
    </div>
  <div class="footer">
    <footer>
      <ul>
        <li><a href="https://codepen.io/tgeorgesdev/" target="_blank" class="fab fa-codepen twi"></a></li>
        <li><a href="https://www.linkedin.com/in/georgestc/" class="fab fa-linkedin" target="_blank"></a></li>
        <li><a href="" class="fa fa-envelope contact"></a></li>
        <li><a href="extras/GeorgesTchiangaResume.pdf" class="fa fas fa-file" download target="_blank"></a></li>
      </ul>
    </footer>
  </div>
  <div class="project_display">
    <div class="project_display_wrapper_">
      <i class="fas fa-times project_display_exit"></i>
      <div class="project_photos">
        <div class="left">
            <i class="fas fa-arrow-left project_display_left"></i>

        </div><div class="photo">
              <img src="images/smallJ/1.png" alt="project photo">
        </div><div class="right">
  <i class="fas fa-arrow-right project_display_right"></i>
      </div>
      </div>
      <div class="project_details">
        <div class="info">

        </div>
        <div class="stack">

        </div>

      </div>
    </div>
    <div class="project_display_wrapper">

  </div>
     </div>

</div>
{{script('js/shadow.js')}}
{{script('js/main')}}
{{script('js/project')}}
</body>
</html>
