<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Georges Thianga | Full Stack Web Developer</title>
  {{style('css/main')}}
  <link rel="shortcut icon" type="image/x-icon" href="images/icon.ico" />
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
  {{style('css/font-awesome-extension.min')}}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  {{script('js/jquery-3.3.1.min')}}
  {{script('js/jquery-ui.min')}}
  {{script('js/typeit.min')}}
</head>
<body>
  <div class="landing_parent">
    <div class="nav_parent">
      <img src="images/logo.png" alt="site logo" id="site-logo">
         <ul class="nav_intro_page">
           <li><a href="" class="nav-about"><b>About</b></a></li>
           <li><a href="" class="nav-projects"><b>Projects</b></a></li>
           <li><a href="" class="contact" data-toggle="modal"><b>Contact</b></a> </li>
         </ul>
    </div>
    <div class="social_media">
      <a href="https://twitter.com/georgestcm" title="Twitter"class="fab fa-twitter" target="_blank"></a>
      <a href="https://www.linkedin.com/in/georgestc/" title="Linkedin" class="fab fa-linkedin" target="_blank"></a>
      <a href="extras/GeorgesTchiangaResume.pdf" class="fas fab fa-file" title="Résumé" download target="_blank"></a>
  </div>
  </div>
  <div class="main_page">
    <div class="nav">
      <nav>
        <div class="site_logo">
          <img src="images/logo.png" alt="site logo">
        </div>
        <div class="links">
          <ul>
            <li class="second_nav"><a href="#" class="nav-about-two">About</a></li>
            <li class="second_nav"><a href="#" class="nav-projects-two ">Project</a></li>
            <li class="second_nav"><a href="#" class="contact">Contact</a></li>
            <li><a href="" class="fa fa-times"></a></li>
          </ul>
        </div>
      </nav>
      <div class="scrollPercentage"></div>
    </div>
    <div class="about">
      <div class="landing_page">
         <div class="me">
           <div class="me_extra_info">
             <h2>ABOUT ME</h2>
             <img src="images/me.jpeg" alt="personal image">
           </div>
           <div class="about_me_links">
             <p><span><img src="images/empire-state.png" id="empire"alt="empire state building"></span> <span id="nyc">NYC based</span> <span>Full Stack Web Developer</span></p>
             <ul>
               <li> <a href="https://github.com/georgestcm" class="fab fa-github" target="_blank"></a></li>
               <li><a href="extras/GeorgesTchiangaResume.pdf" download  target="_blank" class="fas fa-file"></a></li>
             </ul>
           </div>
         </div>
         <div class="me_info">
           <h2> Georges Tchianga</h2>
           <p>I am a full stack web developer that currently lives in new york city. I build
            pixel perfect websites and web apps while paying extreme attention to details. I am passionate about web development and I stay up to date by conecting with
            other developers, studying and by <span>building projects <a href="https://github.com/georgestcm" target="_blank" class="fab fa-github"></a></span>.
            On my free time, I often read financial and self help books and play chopin's etude on the piano.
          </p>
         </div>
        <div class="down_arrow">
          <img src="images/down_arrow.png" alt="down arrow">
        </div>
      </div>
      <div class="skills">
        <div class="tech_skill">
          <div class="skill_logo">
            <img src="images/skill.png" alt="skills">
          </div>

          <div class="tech_list">
            <div class="techs">
          <ul class="list_one">
            <li><a href="#" class="fab fa-html5 tech"></a></li>
            <li><a href="#" class="fab fa-css3-alt tech"></a></li>
            <li><a href="#" class="fab fa-sass tech"></a></li>
            <li><a href="#" class="fab fa-js-square tech"></a></li>

            <li><img src="images/jquery_icon.png" alt="jquery"></li>
          </ul><ul class="list_two">
            <li><a href="#" class="fab fa-react tech"></a></li>
            <li><a href="#" class="fab fa-node tech"></a></li>
            <li><a href="#" class="fa fae-mysql tech"></a></li>
             <li><a href="#" class="fab fa-git tech"></a></li>
          </ul>
          </div><div class="tech_skill_text">
           <p>I build web sites and web apps that are <span>reponsive</span> and <span>performant</span> on a wide range of devices.
              I use git and <span>atom</span> as my main development text editor. I have built
             my own framework and I've also used <span>bootstrap</span> and libraries like <span>Jquery</span>. I pay extreme attention
            to user experience and write code that are clean and easy for other developers to adopt.
            I build web sites and web apps that are <span>reponsive</span> and <span>performant</span> on a wide range of devices.
               I use git and <span>atom</span> as my main development text editor. I have built
              my own framework and I've also used <span>bootstrap</span> and libraries like <span>Jquery</span>. I pay extreme attention
             to user experience and write code that are clean and easy for other developers to adopt. </p> </p>
         </div>
          </div>
        </div>
        <div class="tech_skill_info"></div>
      </div>

    </div>
    <div class="modal">
      <div class="modal_background">
         <div class="modal_content">
           <div class="close"><p>+</p></div>
           <div class="modal_logo">
             <img src="images/logo.png" alt="site logo">
           </div>
           <form id="my_form" action="https://formspree.io/georgestcm@gmail.com" method="POST">
             <input type="text" name="personName" placeholder="Name"  id="n" required>
             <input type="email"  name="_replyto" placeholder="Email"  id="e" required>
             <textarea name="name" name="message" rows="8" cols="80" placeholder="Enter Message here"  id="m" required></textarea>
              <input type="submit" class="submit" value="Submit">
           </form>
         </div>
      </div>
    </div>
    <div class="mobile_about">
      <div class="mobile_text">
        <img src="images/me.png" alt="personal photo">
        <p>I am a front end developer that currently lives in new york city. I build
         pixel perfect websites and web apps using the latest W3C web standards and I
         heavily focus on user experience and site performance. I am passionate about
         web development and I stay up to date by conecting with other developers and
         by building projects and on my free time, I read books and play the piano.</p>
      </div>
    </div>
    <div class="project">
      <h1>My recent works</h1>
        <p>Here are a few of my recent projects</p>
        <div class="works">
          <ul class="project_ul">
            <li>
              <div class="pro_info">
                <div class="ruth">
                 <p class="pro_ruth">
                   A heavy Jquery based responsive and performant
                    photography project for a freelance customer.
                 </p>
                 <a href="http://ruthajiboye.com/" class="ruth_link r_links" target="_blank">Live</a>
                 <a href="#" class="ruth_git r_links" target="_blank">More Info</a>
                 </div>
              </div>
            </li>
            <li>
              <div class="pro_info">
                <div class="central">
                <p class="pro_c"> A full performant and responsive front end e-commerce site for clothing
                 and other Accessories.</p>
                <a href="https://georgestcm.github.io/clothing-central/" class="c_link c_links" target="_blank">Live</a>
                <a href="#" class="c_git c_links" target="_blank">More Info</a>
                </div>
              </div>
            </li>
            <li>
              <div class="pro_info">
                <div class="tempus">
                <p class="pro_tem">
                  A mobile first approach, pure JS web app that help
                  people to find a career based off of what they enjoy and do daily.
                </p>
                <a href="https://georgestcm.github.io/Tempus-app/" class="tem_link t_links" target="_blank">Live</a>
                <a href="#" class="tem_git t_links" target="_blank">More Info</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="see_more">
          <a href="https://github.com/georgestcm" target="_blank">
            <span class="fab fa-github"></span>
            <span>See more on <b>github</b></span>
          </a>
        </div>
    </div>
  <div class="footer">
    <footer>
      <ul>
        <li><a href="https://codepen.io/tgeorgesdev/" target="_blank" class="fab fa-codepen twi"></a></li>
        <li><a href="https://www.linkedin.com/in/georgestc/" class="fab fa-linkedin" target="_blank"></a></li>
        <li><a href="" class="fa fa-envelope contact"></a></li>
        <li><a href="extras/GeorgesTchiangaResume.pdf" class="fa fas fa-file" download target="_blank"></a></li>
      </ul>
    </footer>
  </div>
     </div>
</div>
{{script('js/main')}}
</body>
</html>
