$main_color: #22776A;
* {
  margin: 0;
}
html {
  font-family: 'PT Sans', sans-serif;
}
div.nav {
  position: fixed;
  background-color: #202124;
    height: 9.6%;
    top: 0;
    left: 0;
    width: 100%;
    nav {
      ul {
        padding: 0;
        li {
          &:nth-child(1){
            list-style: none;
            img {
              height: 30px;
              margin: 17px 0 0 30px;
              float: left;
            }
          }
          &:nth-child(2){
            float: right;
            list-style: none;
            a {
              text-decoration: none;
              color: white;
              margin: 17px 30px;
              border-radius: 5px;
              padding: 3px;
              transition: 1s;
              font-size: 17px;
              &:hover{
                background-color: $main_color;
                transition: 1s;
              }
              span {
                margin-left: 2px;
              }
            }
          }
        }
      }
    }
}

div.projects_nav {
  width: 9%;
  height: 90.4vh;
  position: fixed;
  left: 0;
 bottom: 0;
 border-right:  1px solid #202124;
}
