<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" type="image/x-icon" href="images/icon.ico" />
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
  {{style('css/font-awesome-extension.min')}}
  {{style('css/project.css')}}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  {{script('js/jquery-3.3.1.min')}}
  {{script('js/jquery-ui.min')}}
  {{script('js/typeit.min')}}
  <title>
  </title>
</head>
<body>
  <div class="nav">
    <nav>
      <ul>
        <li><img src="images/logo.png" alt="site logo"></li>
        <li> <a href="/" class="fas fa-home"> <span>Home</span> </a> </li>
      </ul>
    </nav>
  </div>
<div class="projects_nav">

</div>
<div class="content">
</div>

{{script('js/project')}}
</body>
</html>
